@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

/* Thème noir */
.dark {
  --background: #000000;
  --foreground: #ffffff;

  --card: #111111;
  --card-foreground: #ffffff;

  --popover: #111111;
  --popover-foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --secondary: #1a1a1a;
  --secondary-foreground: #ffffff;

  --muted: #1a1a1a;
  --muted-foreground: #cccccc;

  --accent: #1a1a1a;
  --accent-foreground: #ffffff;

  --destructive: #ff4444;

  --border: #222222;
  --input: #222222;
  --ring: #444444;

  --chart-1: #4f46e5;
  --chart-2: #22c55e;
  --chart-3: #eab308;
  --chart-4: #ec4899;
  --chart-5: #06b6d4;

  --sidebar: #000000;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #3b82f6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #111111;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #111111;
  --sidebar-ring: #3b82f6;
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: var(--color-ring);
  }

  body {
    @apply bg-background text-foreground;
  }
}
